.headerWrapper {
    min-height: 57px;
    position: relative;
    box-shadow: 0 1pt 4pt grey;
    position: fixed;
    width: 100%;
    top: 0;
}
.headerLogoIconWrapper {
    border-bottom: 0px;
    text-align: center;
    background: #fff;
    padding-left: 60px;
    padding-right: 60px;
    left: 0;
    right: 0;
    z-index: 99;
    transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
}
.headerLogo{
    height: 35px;
    padding-top: 11px;
}